 header {
         color: rgb(170, 164, 176);
         background-color: rgb(150, 138, 162);
         text-align: center;
         max-width: 800px ;
         margin: 0 auto;
         padding: 16px;
 }
 
 main {
         color: bisque;
         background-color: rgb(69, 34, 40);
         max-width: 800px ;
         margin: 0 auto;
         padding: 16px;
}