 header {
         color: rgb(105, 79, 131);
         background-color: rgb(150, 138, 162);
         text-align: center;
         max-width: 800px ;
         margin: 0 auto;
         padding: 16px;
 }
 
 main {
         color: rgb(179, 170, 201);
         background-color: rgb(60, 35, 118);
         max-width: 800px ;
         margin: 0 auto;
         padding: 16px;
}